{% extends 'movies/base.html' %}
{% block body %}
<div class="page-header">
  <h1>영화 정보 수정 <small>Update</small></h1>
</div>
<div class="container">
<form action="/movies/{{ Movie.pk }}/upd" method="POST">
{% csrf_token %}
<label for="title">영화 이름</label>
<input class="form-control" name="title" id="title" placeholder="영화이름" value="{{ Movie.title }}">
<input class="form-control" name="title_en" id="title_en" placeholder="Title" value="{{ Movie.title_en }}">
<label for="audience">관객수</label><br>
<input class="form-control" type="number"form-control" name="audience" id="audience" placeholder="관객수" value="{{ Movie.audience }}">
<label for="open_date">개봉일</label><br>
<input type="date" class="form-control" name="open_date" value="{{ Movie.open_date|date:'Y-m-d'}}" id="open_date" >
<label for="genre">장르</label><br>
<input type="text" class="form-control" name="genre" id="genre" placeholder="장르" value="{{ Movie.genre }}">
<label for="watch_grade">관람등급</label><br>
<input type="text" class="form-control" name="watch_grade" id="watch_grade" placeholder="관람등급" value="{{ Movie.watch_grade }}">
<label for="score">평점</label><br>
<input type="text" class="form-control" name="score" id="score" placeholder="평점" value="{{ Movie.score }}">
<label for="poster_url">포스터이미지URL</label><br>
<input type="text" class="form-control" name="poster_url" id="poster_url" placeholder="poster_url" value="{{ Movie.poster_url }}">
<div class="form-group">
    <label for="new">설명</label>
    <textarea class="form-control" id="new" rows="15" name="description" id="description" >{{ Movie.description }}</textarea>
</div>
<input style="height: 2rem; font-size: 1rem;" type="submit" value="저장!">
</form>
</div>
{% endblock %}